.explore-us-banner-container{
    height: 30vh;
    background: linear-gradient(to right, #000F1A 0%, #000F1A 50%, #0077D5 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 35% center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}

/* -------------------For Mobile Device----------- */

@media (max-width: 600px){
    .explore-us-banner-container{
        height: 30vh;
    }
    
}